/* BASE */
:root {
  --light-pink: #FFCBF2;
  --pink: #F3C4FB;
  --purple-pink: #ECBCFD;
  --light-purple: #E5B3FE;
  --purple2: #E2AFFF;
  --purple: #DEAAFF;
  --lavender: #D8BBFF;
  --light-purple: #D0D1FF;
  --electric-blue: #42cdfc;
  --blue: #C0FDFF;
  --gray: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-2px);
      }
      75% {
        transform: translateY(2px);
      }
}

/* HEADER */
header {
  background-color: var(--electric-blue);
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
}
  
.navbar h1 {
  font-size: 12px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px var(--purple);
}

.logo {
  cursor: pointer;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.searchIcon {
  cursor: pointer;
  padding-left: 20px;
  color: var(--pink);
  font-size: 40px;
}

.searchIcon:hover {
  color: var(--purple2);
}

.user-fav {
  text-decoration: none;
}
  
.links {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
}
  
.userLink,
.favLink {
  cursor: pointer;
  color: var(--pink);
  font-size: 40px;
  transition: transform 0.3s ease;
}
  
.userLink:hover,
.favLink:hover {
  color: var(--purple2);
}

.icon-container:hover {
  animation: wiggle 0.5s infinite;
}
  
.icon-caption {
  margin-top: 5px; /* Adjust margin as needed */
  font-size: 14px; /* Adjust font size as needed */
  color: white;
  cursor: pointer;
  text-shadow: 2px 2px var(--purple);
}
  
  
.logout,
.login,
.signup {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}
  
.logout:hover,
.login:hover,
.signup:hover {
    color: #ddd;
}

/* FOOTER */
footer {
  background-color: var(--electric-blue);
  bottom: 0;
  width: 100%;
  color: black;
  padding: 1px 0;
  text-align: center;
}

.bcLogo {
  color: white;
}

.socialIcons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.socialIcons a {
  color: white;
  margin-left: 10px;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .favLink, .logo, .userLink, .searchIcon  {
    width: 50px;
  }
}

@media (max-width: 675px) {
  .favLink, .logo, .userLink, .searchIcon  {
    width: 25%;
  }
}

@media (max-width: 675px) {
  .pageName  {
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  form,.search-bar  {
    width: 100px;
  }
}

.noDecor {
  text-decoration: none;
}


