:root {
    --purple: #CDB4DB;
    --light-pink: #FFC8DD;
    --pink: #FFAFCC;
    --light-blue: #BDE0FE;
    --blue: #A2D2FF;
    --gray: #F5F5F5;
}

body {
    background-color: rgb(236, 236, 236);
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes popUp {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(4px);
    }

    75% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0px);
    }
}

.iconAnim:hover {
    animation: popUp .3s ease-in;
}

.btn:hover {
background-color: rgb(91, 9, 163);
color: white;
animation: popUp .3s ease-in;
}